<footer>
        <p><a href="#">&copy; Kayla Robertson 2017</a></p>
    <!-- <ul>
        <li><a href="#">twitter</a></li>
        <li><a href="#">email</a></li>
        <li><a href="#">linkedin</a></li>
    </ul> -->
</footer>
