<section id="main">
    <h1 class="white">You can only see this if you're registered / logged in.</h1>
    <br />
    <h3 class="white">Try to sign the <a href="/signPetition">petition</a> and see what happens. </h3>
</section>
