<section id="hero">
    <h1>Keep Montana's public lands public</h1>
    <h2>Almost one million acres of some of Montana’s wildest, most beloved places are on the line. Join the movement to #protectpubliclands.</h2>
    <ul class="home">
        <li><a href="/register"><button class="signButton buttonHover">Sign petition </button></a></li>

        <li><button class="learnMoreButton buttonHover">Learn more</button></li>
    </ul>
</section>

<section id="main">
    <div class="about">
        <h2 class="underline">About</h2>
        <p></p>
            <p>
                Public lands in Montana are often in danger of being sold to the highest bidder. Check back for updates on current legislative measures and sign the petition today to #protectpubliclands!
            </p>
            <a href="/register"><button class="lowerSignButton buttonHover">Sign petition </button></a>
    </div>
</section>
