<section id="hero">
    <h1>Keep Montana's public lands public</h1>
    <h2>Almost one million acres of some of Montana’s wildest, most beloved places are on the line. Join the movement to #protectpubliclands.</h2>
    <ul class="home">
        <li><a href="/register"><button class="signButton buttonHover">Sign petition </button></a></li>

        <li><button class="learnMoreButton buttonHover">Learn more</button></li>
    </ul>
</section>

<section id="main">
    <div class="about">
        <h2 class="underline">About</h2>
        <p>
            As a 2014 University of Montana polls shows, 78% of Montanans think that wilderness is a good thing for our state.    </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="/register"><button class="lowerSignButton buttonHover">Sign petition </button></a>
    </div>
</section>
