

<section id="main">
    <div class="reg">
        <h1>Edit your profile information</h1>
        <p>We'd love to know more about you. <br />Tell us about yourself (this is optional).</p>
        <section id="loginWrapper">
            <form action="/submitInfo" method="POST">
                    <input class="whiteForm" type="text" name="age" placeholder="age">
                    <input class="whiteForm" type="text" name="city" placeholder="city">
                    <!-- <input class="whiteForm" type="text" name="website" placeholder="website"> -->
                    <button class="moreInfoButton buttonHover" name="signed">Save changes</button>
                <a href="/signPetition"><button class="moreInfoButton buttonHover" type="button" name="signed">Skip</button></a>
            </form>
          </section>
    </div>
</section>
