<section id="login">
    <h1 class="white">I, {{first}} {{last}}, support the movement to #protectpubliclands</h1>
    <section id="loginWrapper">
        <br />
        <p class="white">Sign in the box below:</p>
        <br />
        {{#error}}
            <p class="error">Fields can't be empty</p>
        {{/error}}

        {{#loggedInError}}
            <p class="error">You must be logged in to sign. Need an account?<a href="/register">Sign up here</a></p>
        {{/loggedInError}}
        <form action="/submitSig" method="POST">
            <div id="form">
                <input class="whiteForm" type="hidden" name="signature" id="sigInput">
            </div>
            <canvas id="canvas" width=445 height="100"></canvas>
            <br />
            <ul class="home">
                <li><button id="clear" class="learnMoreButton buttonHover clear" type="button">Clear</button></li>
                <li><button class="signButton buttonHover" type="submit">Submit </button></li>
            </ul>
        </form>
        <br />
        <p class="white">Not you? <a href="/logout"><span class="bold">Logout</span></a></p>
    </section>
</section>
